<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Udacity Responsive Images course project" />
        <meta name="Shang Wang" content="Shang_Wang.com">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0,  shrink-to-fit=no, user-scalable=yes">
        <title>Udacity Full Stack Project3 ItemCatalog</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <!--<script src="{{ url_for('static', filename='js/auth.js')}}"></script>-->
    </head>
  
    <body>

    <nav class="navbar navbar-expand-sm bd-sidebar navbar-dark bg-danger">
        <!--responsive logo here-->
        <a class="navbar-brand" href="/home">
            <img class="turtle-logo" src="{{url_for('static', filename = 'images/Logo2-extra-small-0.5x.png')}}" alt="A turtle logo designed by me.">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link mr-3" href="/home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active mr-3">
                    <a class="nav-link text-light" href="/home/login">Log In</a>
                </li>
                <li class="nav-item active mr-3">
                    <a class="nav-link text-light" href="/disconnect">Log Off</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class = 'main'>
        <div class = "py-5">
            {% if status == 'success' %}
            <h3 class = 'text-success'>Success</h3>
            {% elif status == 'fail' %}
            <h3 class = 'text-danger'>Invalid Password</h3>
            {% endif%}
            <div class = 'text-center formclass pb-3'>
                <h1>Log in / Sign up</h1>
                <form action="" method = 'post'>
                    <p>User Name:</p>
                    <input type ='text' name='username'>
                    <p>Password:</p>
                    <input type ='text' name='password'>
                    <div class = "py-1"></div>
                    <br>
                    <input type='submit' value='Log In / Sign Up'>
                </form>
            </div>

            <!-- GOOGLE PLUS SIGN IN-->

            <div class="container-fluid pb-3">
                <div class="row align-items-center">
                    <div class="signinButton col-2 col-md-2 col-lg-1">
                        <span class="g-signin zocial-github text-light"
                            data-scope="openid email"
                            data-clientid="59820488277-p4p1frv6b45f789g796dbhm2jaeqtl7j.apps.googleusercontent.com"
                            data-redirecturi="postmessage"
                            data-accesstype="offline"
                            data-cookiepolicy="single_host_origin"
                            data-callback="signInCallback"
                            data-approvalprompt="force">
                        </span>
                    </div>
                </div>
            </div>

            <div id="result"></div>


            <script>
            function signInCallback(authResult) {
                if (authResult['code']) {
                // Hide the sign-in button now that the user is authorized
                $('#signinButton').attr('style', 'display: none');
                // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/home";
                            }, 200);
                        } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                        } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }
                }); 
                } 
            }
            </script>
            <!--END GOOGLE PLUS SIGN IN -->
            <!--FACEBOOK SIGN IN -->
            <script>
                window.fbAsyncInit = function() {
                FB.init({
                    appId      : '1319905624806403',
                    cookie     : true,  // enable cookies to allow the server to access 
                                        // the session
                    xfbml      : true,  // parse social plugins on this page
                    version    : 'v2.2' // use version 2.2
                });
                };
                // Load the SDK asynchronously
                (function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/en_US/sdk.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
                // Here we run a very simple test of the Graph API after login is
                // successful.  See statusChangeCallback() for when this call is made.
                function sendTokenToServer() {
                    var access_token = FB.getAuthResponse()['accessToken'];
                    console.log(access_token)
                    console.log('Welcome!  Fetching your information.... ');
                    FB.api('/me', function(response) {
                        console.log('Successful login for: ' + response.name);
                    $.ajax({
                        type: 'POST',
                        url: '/fbconnect?state={{STATE}}',
                        processData: false,
                        data: access_token,
                        contentType: 'application/octet-stream; charset=utf-8',
                        success: function(result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                            setTimeout(function() {
                                window.location.href = "/home";
                            }, 200);
                        } else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                            }
                        }
                    });
                    });
                }
            </script>
            <button>
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
            </button>
        </div>
    </div>
    <!--Some social media icons are shown here. Jump to other social links possible.-->
    <footer class="footer bg-danger py-5">
        <div class="container-fluid">
            <div class="row justify-content-center text-light">
                <div class="col-2 col-md-2 col-lg-1">
                    <a href="https://github.com/wang8zai" class="zocial-github text-light"></a>
                </div>
                <div class="col-2 col-md-2 col-lg-1">
                    <a href="https://www.google.com" class="zocial-google text-light"></a>
                </div>
                <div class="col-2 col-md-2 col-lg-1">
                    <a href="https://www.digg.com" class="zocial-digg text-light"></a>
                </div>
                <div class="col-2 col-md-2 col-lg-1">
                    <a href="https://www.twitter.com" class="zocial-twitter text-light"></a>
                </div>
                <div class="col-2 col-md-2 col-lg-1">
                    <a href="https://www.facebook.com" class="zocial-facebook text-light"></a>
                </div>
            </div>
        </div>
    </footer>

    <!--END FACEBOOK SIGN IN -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <!--
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    </body>
</html>